<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    
    <article>
        {{ content }}
        {% include footer.html %}
        <script type="text/javascript">
            var _gauges = _gauges || [];
            (function() {
            var t   = document.createElement('script');
            t.type  = 'text/javascript';
            t.async = true;
            t.id    = 'gauges-tracker';
            t.setAttribute('data-site-id', '5389808eeddd5b055a00440d');
            t.src = '//secure.gaug.es/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
            })();
        </script>
    </article>

</body>
</html>
